<!DOCTYPE html>
<html lang="en">

<head>
    <title>Article Web Scraper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">
    <title>Example App</title>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>